.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 10px;
  color: white;
  flex: 1;
}

.main {
  padding: 20px;
  text-align: center;
  flex: 10;
}

.display {
  padding: 30px;
  border: 2px black solid;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
